@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Source+Sans+Pro:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background-color: #111833;
}

.containerMain{
    width: 40%;
    height: 75vh;
    margin:auto;
    margin-top: 15vh;
    box-shadow: 2px 2px 15px 5px #800f2f;
    border-radius: 10px;
}

.containerTitle{
    color: #FF4300;
    width:100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.title{
    font-size: 1.5em;
}

.containerForms{
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.formsName, .formsLastName, .formsEmail{
    width:70%;
    height: 5vh;
    margin-top: 5vh;
    font-size: 1.2em;
    color: #FF4300;
}

#nome, #sobrenome, #email{
    width:70%;
    height: 8vh;
    border-radius: 5px;
    background-color: #cce3de;
    font-size: 1.1em;
}
input::placeholder{
    text-align: center;
    color: black;
}

.buttonsContainer{
    width: 70%;
    height: 12vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5vh;
}

.btnSubmit, .btnResults{
    width: 10vw;
    height: 6vh;
    font-size: 1em;
}
.btnSubmit:hover{
    cursor: pointer;
    font-weight: bold;
    background-color: #FF4300;
    color: white;
    border: none;
}

.btnResults:hover{
    cursor: pointer;
    font-weight: bold;
    background-color: #FF4300;
    color: white;
    border: none;
}

#containerModal{
    visibility: hidden;
    width: 30vw;
    height: 20vh;
    position: fixed;
    top: 45vh;
    left: 35vw;
    margin: auto;
    border-radius: 10px;
    background-color: #e6e8e6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contentModal{
    width:20vw;
    height: 15vh;
    color: black;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.btnClose{
    width: 5vw;
    height: 4vh;
    font-size: 1em;
}

.btnClose:hover{
    cursor: pointer;
    font-weight: bold;
}

@media(max-width: 700px) and (min-width: 360px){
    .containerMain{
        width: 90%;
        margin-top: 10vh;
    }
    
    .formsName, .formsLastName, .formsEmail{
        font-size: 1.3em;
    }
    
    #nome, #sobrenome, #email{
        font-size: 1.2em;
    }
    
    .buttonsContainer{
        width: 100%;
    }
    
    .btnSubmit, .btnResults{
        width: 38vw;
        height: 6vh;
        font-size: 1.2em;
    }
    
    #containerModal{
        visibility: hidden;
        width: 83vw;
        height: 65vh;
        bottom: 45vh;
        left: 9vw;
        background-color: #111833;
    }

    .resultTitle{
        color:#FF4300;
        font-size: 1.5em;
    }
    
    .contentModal{
        width:75vw;
        height: 40vh;
        color: #ffff;
        font-size: 1.5em;
    }
    
    .btnClose{
        width: 35vw;
        height: 5vh;
        font-size: 1.3em;
    }
}